.main {
    height: 100%;
}

.sidenav {
    background-color: #111;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

header {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    height: 10%;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
}

@media (min-width: 768px) {
    footer {
        margin-left: 200px;
    }

    .sidenav {
        top: 55px;
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        display: block;
    }

    .main {
        margin-left: 200px;
    }

    footer {
        margin-left: 200px;
    }
}
